<mat-card class="adventure-card">
  <mat-card-header>
    <mat-card-title>{{adventure.name}}</mat-card-title>
    <mat-card-subtitle>{{adventure.description}}</mat-card-subtitle>
    <div class="mat-card-header-text price">${{adventure.price - 1}}<sup>92</sup></div>
  </mat-card-header>
  <mat-card-content>
    <div class="adventure-content" [style.backgroundImage]="'url(' + adventure.imageUrl + ')'">
      <span class="call-out">{{adventure.destination}}</span>
      <a mat-raised-button class="view-button" [routerLink]="['view', adventure.id]">View</a>
    </div>
  </mat-card-content>
</mat-card>
