@import '~src/assets/styles/breakpoints.scss';
@import '~src/assets/styles/view-button.scss';

// Set the height of both "image-container" and "image" depending on the media
.adventure-content {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media only screen and (max-width: $medium-handset-max-width-landscape) {
    height: 400px;
    box-shadow: inset 0 0 60px 20px #ffffff;
  }

  @media only screen and (min-width: $large-handset-min-width-landscape) {
    height: 600px;
    box-shadow: inset 0 0 160px 20px #ffffff;
  }
}

.call-out {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(230, 230, 255, 0.94);
  width: 100%;
  font-weight: 540;
  letter-spacing: 0.08em;
  padding: min(3vh, 5vw) 0;
  color: rgb(0, 0, 0);
  mix-blend-mode: screen;
  font-size: 11vw;
  line-height: 11vw;

  @media (max-width: $large-tablet-max-width-landscape) {
    font-size: 20vw;
    line-height: 20vw;
  }
}


// Price styling
.price {
  font-size: 1.4rem;
  color: Coral;
  padding-bottom: 1rem;
}
