<button class="landing-button" mat-button><a routerLink="/packages" routerLinkActive="active">View packages</a></button>
<h2 class="banner">We're open during construction<span class="blink">&#x25ae;</span></h2>
<router-outlet></router-outlet>
