:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

$hover-on-duration: 1.2s;
$hover-off-duration: 2.0s;

// The main button
.landing-button {
  border-radius: 0.1rem;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  background: rgba(120, 20, 160, 0.2);    // AAAA -- change this colour in accord with the theme
  padding: 1rem 2rem;
  transition: all $hover-off-duration, color $hover-off-duration;  // AAAA -- transitions do not work with gradients
  &:hover {
    // background: rgba(180, 20, 150, 0.5);    // AAAA -- same with this colour
    background: radial-gradient(ellipse at center, rgba(180, 20, 150, 0.7), rgba(168, 26, 142, 0.4) 60%, rgba(114, 44, 101, 0.2));    // AAAA -- same with this colour
    border-color: white;
    transition: all $hover-on-duration, border-color $hover-on-duration;   // AAAA -- transitions do not work with gradients
    transform: translate(-4px, 0);
  }

  a {
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    transition: color $hover-off-duration;
  }

  &:hover a {
    color: white;
    transition: color $hover-on-duration;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1rem;
    border-width: 1px;
    padding: 0.5rem 1rem;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1rem;
    border-width: 1px;
    padding: 0.5rem 1rem;
  }

  @media only screen and (min-width: 769px) {
    font-size: 1.6rem;
    border-width: 1px;
  }

  @media only screen and (min-width: 993px) {
    font-size: 1.8rem;
    border-width: 1px;
  }
}

.banner {
  color: whitesmoke;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0;
  bottom: 4%;
  transform: translate(0, -50%);
  font-family: 'Orbitron', sans-serif;

  // AAAA -- this is a temporary break point
  @media only screen and (max-width: 400px) {
    bottom: 0;
    font-size: 1rem;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1rem;
  }

  @media only screen and (min-width: 769px) {
    font-size: 2rem;
  }

  @media only screen and (min-width: 993px) {
    font-size: 3rem;
  }
}

.blink {
	 animation: blink .80s linear infinite;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
