@import '~src/assets/styles/breakpoints.scss';
@import '~src/assets/styles/view-button.scss';

.preview-container {
  padding: 3rem 0;
}

.detail-title {
  text-align: center;
}

//
// AAAA — this all styling is really temporary just in order to show something in the Preview component
//

// Set the height of both "image-container" and "image" depending on the media
.adventure-content {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media only screen and (max-width: 768px) {
    height: 300px;
    box-shadow: inset 0 0 60px 20px #ffffff;
  }

  @media only screen and (min-width: 769px) {
    height: 600px;
    box-shadow: inset 0 0 160px 20px #ffffff;
  }
}

// Price styling
.price {
  font-size: 1.4rem;
  color: Coral;
  padding-bottom: 1rem;
}
