<div class="preview-container" *ngIf="adventureView$ | async as adventureView">
  <mat-card class="preview-card">
    <mat-card-header>
      <mat-card-title>{{adventureView.name}}</mat-card-title>
      <mat-card-subtitle>{{adventureView.description}}</mat-card-subtitle>
      <div class="mat-card-header-text price">${{adventureView.price - 1}}<sup>92</sup></div>
    </mat-card-header>
    <!-- AAAA — Attempt to use 'mat-card-image' -->
    <!----------->
    <!-- Image -->
    <!----------->
    <mat-card-content>
      <div class="adventure-content" [style.backgroundImage]="'url(' + adventureView.imageUrl + ')'">
        <a mat-raised-button class="view-button" [disabled]="goButtonDisabled || adventureView.available < 1" (click)="go()">Go</a>
      </div>
    </mat-card-content>

      <!------------------------------->
      <!-- The tree with the details -->
      <!------------------------------->
    <mat-card-content>
      <h2 class="detail-title">Trip details</h2>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [@slideInOut]="node.level ? 'open' : null">
          <ng-container [ngSwitch]="node.nodeType">
            <ng-container *ngSwitchCase="'flightInformation'">
              Flight {{node.flightNo}}<br>
              Departs {{node.origin}} on {{node.departureDate.toDate() | date : 'MMM d, y'}} at {{node.departureDate.toDate() | date : 'h:mm a'}}<br>
              Arrives to {{node.destination}} on {{node.arrivalDate.toDate() | date : 'MMM d, y'}} at {{node.arrivalDate.toDate() | date : 'h:mm a'}}
            </ng-container>
            <ng-container *ngSwitchCase="'hotelInformation'">
              {{node.name}}&nbsp;{{node.displayRank}}
              <br>
              {{node.description}}
            </ng-container>

            <ng-container *ngSwitchCase="'bike'">
              <button mat-icon-button><fa-icon [icon]="node.icon"></fa-icon></button>
              Bike from {{node.origin}} to {{node.destination}}
            </ng-container>
            <ng-container *ngSwitchCase="'boat'">
              <button mat-icon-button><fa-icon [icon]="node.icon"></fa-icon></button>
              Take a boat from {{node.origin}} to {{node.destination}}
            </ng-container>
            <ng-container *ngSwitchCase="'bus'">
              <button mat-icon-button><fa-icon [icon]="node.icon"></fa-icon></button>
              Take a coach from {{node.origin}} to {{node.destination}}
            </ng-container>
            <ng-container *ngSwitchCase="'ferry'">
              <button mat-icon-button><fa-icon [icon]="node.icon"></fa-icon></button>
              Take a ferry from {{node.origin}} to {{node.destination}}
            </ng-container>
            <ng-container *ngSwitchCase="'train'">
              <button mat-icon-button><fa-icon [icon]="node.icon"></fa-icon></button>
              Train from {{node.origin}} to {{node.destination}}
            </ng-container>

            <ng-container *ngSwitchCase="'rental'">
              <button mat-icon-button><fa-icon [icon]="node.icon"></fa-icon></button>
              Car rental included: {{node.rentalType}}
            </ng-container>
            <ng-container *ngSwitchDefault>
              Unknown node type {{node.nodeType}} AAAA
            </ng-container>
          </ng-container>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [@slideInOut]="node.level ? 'open' : null">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.title">   <!-- AAAA node.title may not be defined -->
            <fa-icon [icon]="node.icon"></fa-icon>
          </button>
          <ng-container [ngSwitch]="node.nodeType">
            <ng-container *ngSwitchCase="'activity+'">
              <ng-container [ngSwitch]="node.activity">
                <ng-container *ngSwitchCase="'Cruise'">
                  Cruise to {{node.location}}
                </ng-container>
                <ng-container *ngSwitchCase="'Fishing'">
                  Fishing in {{node.location}}
                </ng-container>
                <ng-container *ngSwitchCase="'Sightseeing'">
                  Sightseeing in {{node.location}}
                </ng-container>
                <ng-container *ngSwitchCase="'Surfing'">
                  Surfing in {{node.location}}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  Unknown activity type {{node.activity}} AAAA
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'flight+'">
              {{node.origin}} &nbsp; ⟶ &nbsp; {{node.destination}}
            </ng-container>
            <ng-container *ngSwitchCase="'hotel+'">
              Stay in {{node.name}} hotel for {{node.duration}} days
            </ng-container>
            <ng-container *ngSwitchDefault>
              Unknown node type {{node.nodeType}} AAAA
            </ng-container>
          </ng-container>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.title">   <!-- AAAA node.title may not be defined -->
            <fa-icon [icon]="treeControl.isExpanded(node) ? faChevronDown : faChevronRight"></fa-icon>
          </button>
        </mat-tree-node>
      </mat-tree>

    </mat-card-content>
  </mat-card>
</div>
