<mat-card class="cart-item">
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
    <a mat-button class="mat-card-header-text remove-button" color="warn" (click)="remove()" fxHide.xs>
      <fa-icon [icon]="faTimes" class="hide-remove-symbol"></fa-icon>
      <span class="remove-label" fxHide.xs>&nbsp;&nbsp;&nbsp;Remove</span>
    </a>
    <a mat-button class="slim-remove-button" color="warn" (click)="remove()" fxHide.gt-xs>
      <fa-icon [icon]="faTimes"></fa-icon>
    </a>
  </mat-card-header>
  <mat-card-content>
    <div class="item-image-pad" [style.backgroundImage]="'url(' + item.imageUrl + ')'"
      gdColumns.xs="1fr 1fr" gdAreas.xs="image-window information-pad"
      gdColumns.gt-xs="1fr 12rem" gdAreas.gt-xs="information-pad image-window">
      <!-- Make the information pad half-wide on greater than extra-small screens -->
      <div gdColumns.gt-xs="1fr 1fr" gdGap.xs="0.4rem" class="information-pad" gdArea="information-pad">
        <div>
          <p>Destination:&nbsp;&nbsp;{{item.destination}}</p>
          <p>Quantity:&nbsp;&nbsp;{{item.quantity}} &times; ${{item.price}}</p>
          <hr class="total-hr">
          <p><strong>Total:&nbsp;&nbsp;${{item.totalPrice}}</strong></p>
        </div>
        <div fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign.gt-xs="center end">
          <a mat-raised-button class="view-button" (click)="buy()">Buy</a>
        </div>
      </div>

      <!-- An image window -->
      <div class="image-window" gdArea="image-window"></div>
    </div>
  </mat-card-content>
</mat-card>
