@import '~src/assets/styles/breakpoints.scss';
@import '~src/assets/styles/view-button.scss';

.cart-item {
  .item-image-pad {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;

    height: 12rem;

    // Increase height to display content vertically
    @media only screen and (max-width: 768px) {
      height: 14rem;
    }

    .information-pad {
      display: grid;        // Fix for the FlexLayout bug which does not render Grid properly after switching between Mobile ←→ Desktop modes
      background: rgba(255, 255, 255, 0.8);
      padding: 2rem 2rem;

      // Style the horizontal rule separating the total price from the item details
      .total-hr {
        width: 8rem;
        height: 2px;
        background: #000000;
        border: none;
        display: inline-block;
        text-align: left;
        margin-bottom: 1rem;        // Makes it look more consistent with paragraph margin
      }
    }
  }
}
