@import '~src/assets/styles/toolbar.scss';

:host {
  width: 100%;
  height: 100%;
}

// AAAA the following definitions duplicate with the AuthButtons component
.auth-area {
  width: 100%;
  height: 100%;
  display: grid;
}

.menu-button-area {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
