<!-- Buttons show up on large enough screens -->
<div class="auth-area" gdColumns.gt-xs="100px minmax(100px, auto) 60px 100px" gdAlignRows.gt-xs="end stretch" fxShow fxHide.lt-sm>
  <a mat-button class="regular-toolbar-button cart-button" (click)="showCart()">
    <span class="material-icons">shopping_cart</span>&nbsp;
    <span>Cart</span>
  </a>
  <a mat-button class="regular-toolbar-button profile-button" (click)="showProfile()">
    <span class="material-icons">account_circle</span>&nbsp;
    <span>{{currentUserName$ | async}}</span>
  </a>
  <a mat-button class="regular-toolbar-button flee-button" matTooltip="Delete account" (click)="deleteAccount()">
    <span>Flee</span>
  </a>
  <a mat-button class="regular-toolbar-button auth-button" (click)="logOut()">Log out</a>
</div>

<!-- The menu button shows up on smaller screens -->
<div class="menu-button-area" fxHide fxShow.lt-sm>
  <button mat-icon-button area-label="Menu Icon Button" gdGridAlign.lt-sm="end center" class="menu-button"
          [matMenuTriggerFor]="secureMenu"><mat-icon>account_box</mat-icon></button>
  <mat-menu #secureMenu="matMenu">
    <button mat-menu-item (click)="showCart()">Cart</button>
    <button mat-menu-item (click)="showProfile()">Profile</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="deleteAccount()">Flee</button>
    <button mat-menu-item (click)="logOut()">Log out</button>
  </mat-menu>
</div>
