<h2 mat-dialog-title>Really log out?</h2>
<mat-dialog-content>
</mat-dialog-content>
<mat-dialog-actions gdColumns.gt-sm="1fr 1fr" gdAreas.lt-md="log-out | cancel" gdGap.lt-md="0.8rem">
  <button mat-stroked-button gdArea.lt-md="cancel" [mat-dialog-close]="'cancel'">
    <span>Cancel</span>
  </button>
  <button mat-raised-button color="primary" gdArea.lt-md="log-out" [ngStyle.lt-md]="{ 'margin': 0, 'padding': 0 }" [mat-dialog-close]="'log-out'">
    <span>Log out</span>
  </button>
</mat-dialog-actions>
