//
// Style the auth menu
//

// Style the auth menu: background and square shape
.mat-menu-panel.ng-trigger {
  border-radius: 0;
  background: rgba(240, 210, 240, 0.96);   // AAAA also make this colour obtainable from the theme
}

// Change the colour of the auth menu items
.mat-menu-item.mat-focus-indicator {
  color: blueviolet;                       // AAAA
}
