<h2 mat-dialog-title (ngSubmit)="signUp()">Sign up</h2>
<mat-dialog-content gdGap="1rem">
  <form [formGroup]="info" gdRows="1fr 1fr 1fr">
    <mat-form-field appearance="fill">
      <mat-label>Full name:</mat-label>
      <input type="text" formControlName="name" matInput>
      <mat-error *ngIf="info.controls.email.errors?.required">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input type="text" formControlName="email" matInput>
      <mat-error *ngIf="info.controls.email.errors?.required">Email is required</mat-error>
      <mat-error *ngIf="info.controls.email.errors?.email || info.controls.email.errors?.invalid">A valid email address is required</mat-error>
      <mat-error *ngIf="info.controls.email.errors?.inUse">This email is already in use</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input type="password" formControlName="pass" matInput>
      <mat-error *ngIf="info.controls.pass.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="info.controls.pass.errors?.pattern">Need an uppercase letter and a digit</mat-error>
      <mat-error *ngIf="info.controls.pass.errors?.weak">Password must have at least 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Re-enter password:</mat-label>
      <input type="password" formControlName="passRetyped" matInput>
      <mat-error *ngIf="info.controls.passRetyped.errors?.required">Re–type your password</mat-error>
      <mat-error *ngIf="info.controls.passRetyped.errors?.compare && !info.controls.passRetyped.errors?.required">Passwords do not match</mat-error>
    </mat-form-field>
    <mat-error *ngIf="info.errors?.unknown">An error occurred</mat-error>
  </form>
  <div gdColumns.gt-sm="1fr 1fr" gdAreas.lt-md="sign-up | cancel" gdGap.lt-md="0.8rem" gdGap.gt-sm="1rem">
    <button mat-stroked-button gdArea.lt-md="cancel" [mat-dialog-close]="null">
      <span>Cancel</span>
    </button>
    <button mat-raised-button [disabled]="!info.valid" color="primary" gdArea.lt-md="sign-up" [ngStyle.lt-md]="{ 'margin': 0, 'padding': 0 }"
            type="submit" (click)="signUp()">
      <span>Sign up</span>
    </button>
  </div>
</mat-dialog-content>
