<mat-toolbar color="primary" class="toolbar" gdAreas="logo packages auth" gdColumns.gt-xs="160px 1fr 1fr" gdColumns.lt-sm="160px auto 80px" gdGap="0">
  <a mat-button routerLink="/landing" class="albatross-logo" gdArea="logo">Albatross</a>
  <nav gdArea="packages" class="nav-area" fxShow fxHide.lt-sm><a mat-button class="regular-toolbar-button nav-button" routerLink="/packages" routerLinkActive="active">Packages</a></nav>
  <span gdArea="auth" class="auth"><router-outlet name="secure"></router-outlet></span>
</mat-toolbar>
<main class="main">
  <router-outlet></router-outlet>
</main>
