@import "~src/assets/styles/breakpoints.scss";
@import "~src/assets/styles/toolbar.scss";

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.nav-area {
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 1 auto;
  @media only screen and (min-width: $too-big-screen-min-width) {
    margin: 0 auto;
    width: 50vw;
  }
}

.auth {
  width: 100%;
  height: 100%;
}
