@import '~src/assets/styles/theme.scss';

//
// Style the authentication dialogues
//
$dialogue-background-color: rgba(0, 128, 212, 0.8);   // AAAA also make this colour obtainable from the theme
$dialogue-main: white;                                // AAAA also make this colour obtainable from the theme
$dialogue-highlight: coral;
$dialogue-emphasize: cyan;
$dialogue-error: mat-color($app-warn);
$stroked-button-hover-background: rgba(0, 128, 212, 0.2);
.albatross-dialogue .mat-dialog-container {
  background: rgba(0, 0, 0, 0.4);                     // AAAA also make this colour obtainable from the theme
  box-shadow: inset -3px -3px 30px 6px $dialogue-background-color;
  text-align: center;
  border-radius: 0;

  .mat-dialog-title {
    color: $dialogue-main;
  }
}

.albatross-dialogue .mat-dialog-container .mat-dialog-actions {
  margin-bottom: 0rem;
  padding-bottom: 0rem;
  min-height: 0rem;
}

.albatross-dialogue {
  .mat-stroked-button.mat-button-base {
    color: $dialogue-emphasize;
    border-color: $dialogue-emphasize;
    border-width: 2px;
    border-radius: 0;

    &:hover {
      background: $stroked-button-hover-background;
      transform: translateX(-2px);
      font-weight: 700;
      transition: transform 0.3s ease-out;
    }
  }

  .mat-raised-button.mat-primary {
    color: white;
    border-color: $dialogue-highlight;        // AAAA the colour does not show up
    background-color: rgb(200, 100, 40);
    border-width: 2px;
    border-radius: 0;
    padding: 0;
    margin: 0;

    &:hover {
      background-color: $dialogue-highlight;
      transform: translateX(-2px);
      transition: transform 0.3s ease-out;
    }
  }

  .mat-raised-button[disabled].mat-primary {
    color: white;
    background: rgba(255, 127, 80, 0.4);
    &:hover {
      transform: none;
      transition: none;
    }
  }

  .mat-button-wrapper {
    padding: 0;
    margin: 0;
  }
}

.albatross-dialogue {
  // Unfocused styling
  .mat-form-field {
    color: $dialogue-main;
    caret-color: $dialogue-main;

    .mat-form-field-label {
      color: $dialogue-highlight;
    }

    .mat-input-element {
      caret-color: $dialogue-main;
    }

    .mat-form-field-underline {
      color: $dialogue-highlight;

      .mat-form-field-ripple {
        background-color: $dialogue-highlight;
      }
    }
  }

  // Focused styling
  .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: $dialogue-highlight;
    }

    .mat-form-field-ripple {
      background-color: $dialogue-highlight;
    }
  }

  // Error styling
  .mat-form-field.ng-touched.ng-invalid {
    color: $dialogue-error;

    .mat-form-field-label {
      color: $dialogue-error;
    }

    .mat-input-element {
      caret-color: $dialogue-error;
    }

    .mat-form-field-ripple {
      background-color: $dialogue-error;
    }
  }
}

//
// Sign in with Google button
// Source: https://developers.google.com/identity/branding-guidelines
//
.sign-in-with-google {
  height: 40px;

  .mat-button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #4285F4;

    // AAAA can use image sprites, or find SVG paths for these images
    .logo {
      width: 40px;
      height: 40px;
      background-image: url("src/assets/images/btn_google_dark_normal_ios.svg");
      background-size: cover;
      display: inline-block;
      margin-right: 0.5rem;
    }

    &:active .logo {
      background-image: url("src/assets/images/btn_google_dark_pressed_ios.svg");
      background-size: cover;
    }

    .label {
      font-size: 14px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
     }
  }
}
