@import '~src/assets/styles/breakpoints.scss';

//
// Style the splash dialogue
//
$splash-background-color: rgba(0, 128, 212, 0.8);
$splash-highlight: coral;
$splash-emphasize: cyan;
$splash-main: white;
.splash-dialogue .mat-dialog-container {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset -30px -30px 80px 10px $splash-background-color;
  max-width: $too-big-screen-min-width + 1;
  width: 60vw;
  height: 85vh;

  // expand to near full size on extra-small screens
  @media only screen and (max-width: $xs-max-width) {
    position: fixed;
    left: 2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    width: 96vw;
    height: 96vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  @media only screen and (min-width: $sm-min-width) {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 8%;
    bottom: 8%;
    width: 60vw;
    max-width: $too-big-screen-min-width + 1;
    height: 84vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  @media only screen and (max-height: $too-short-screen-max-height) {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 2%;
    bottom: 2%;
    width: 60vw;
    max-width: $too-big-screen-min-width + 1;
    height: 96vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  h2.mat-dialog-title {
      width: 100%;
      @media only screen and (max-width: $xs-max-width) {
        height: 6vh;
        max-height: 8vh;
      }
      @media only screen and (min-width: $sm-min-width) {
        height: 5vh;
        max-height: 6vh;
      }
      @media only screen and (max-height: $too-short-screen-max-height) {
        height: 6vh;
        max-height: 8vh;
        margin-bottom: 3vh;
      }
      margin: 0;
      text-align: center;
      color: $splash-highlight;
      text-shadow: 0 0 0.5rem $splash-highlight;
  }

  .mat-dialog-content {
    color: whitesmoke;
    height: 100%;
    @media only screen and (max-width: $xs-max-width) {
      max-height: 79vh;
    }
    @media only screen and (min-width: $sm-min-width) {
      max-height: 70vh;
    }
    @media only screen and (max-height: $too-short-screen-max-height) {
      max-height: 72vh;
    }

    ul {
      line-height: 1.6rem;
    }

    .emph {
      color: $splash-emphasize;
      &:hover {
        color: $splash-highlight;
        font-weight: 600;
        text-shadow: 0 0 0.6rem $splash-highlight;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
      }
      transition: all 0.1s ease-in-out;
    }
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @media only screen and (max-width: $xs-max-width) {
      height: 7vh;
      min-height: 7vh;
      max-height: 8vh;
    }
    @media only screen and (min-width: $sm-min-width) {
      height: 5vh;
      min-height: 5vh;
      max-height: 6vh;
    }
    @media only screen and (max-height: $too-short-screen-max-height) {
      height: 11vh;
      min-height: 11vh;
      max-height: 12vh;
    }
    margin: 0;
    padding: 0;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $splash-highlight;
      border-radius: 1px;
      border-width: 2px;
      border-color: $splash-background-color;
      width: 6rem;
      @media only screen and (max-width: $xs-max-width) {
        height: 5vh;
      }
      @media only screen and (max-height: $too-short-screen-max-height) {
        height: 8vh;
      }
      transition: all 0.3s ease-out;

      &:hover {
        border-color: $splash-highlight;
        background: rgba(0, 128, 212, 0.2);
        transform: translateX(-2px);
        font-weight: 700;
        text-shadow: 0 0 0.6rem $splash-highlight;
        transition: transform 0.3s ease-out;
      }
    }
  }
}
