@import "~src/assets/styles/toolbar.scss";

:host {
  width: 100%;
  height: 100%;
}

.menu-sign-in-button {   // AAAA this has to be changed according to the official style
  background-color: rgba(240, 180, 240, 0.8);
}

.auth-area {
  width: 100%;
  height: 100%;
  display: grid;
}

.menu-button-area {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
