<!-- Buttons show up on large enough screens -->
<div class="auth-area" gdColumns.gt-xs="100px 100px" gdAlignRows.gt-xs="end stretch" fxShow fxHide.lt-sm>
  <a mat-button class="auth-button regular-toolbar-button" (click)="signUp()">Sign up</a>
  <a mat-button class="auth-button sign-in-button" (click)="signIn()">Sign in</a>
</div>

<!-- The menu button shows up on smaller screens -->
<div class="menu-button-area" fxHide fxShow.lt-sm>
  <button mat-icon-button area-label="Menu Icon Button" gdGridAlign.lt-sm="end center" class="menu-button"
          [matMenuTriggerFor]="authMenu"><mat-icon>menu</mat-icon></button>
  <mat-menu #authMenu="matMenu">
    <button mat-menu-item (click)="signUp()">Sign up</button>
    <button mat-menu-item class="menu-sign-in-button" (click)="signIn()">Sign in</button>
  </mat-menu>
</div>
