<h2 mat-dialog-title (ngSubmit)="signIn()">Sign in</h2>
<mat-dialog-content>
  <form [formGroup]="info" gdRows="1fr 1fr 1fr" (keydown.enter)="info.valid && signIn()">
    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input type="text" formControlName="email" matInput>
      <mat-error *ngIf="info.controls.email.errors?.required">Email is required</mat-error>
      <mat-error *ngIf="info.controls.email.errors?.email">A valid email address is required</mat-error>
      <mat-error *ngIf="info.controls.email.errors?.unknown">Unknown email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input type="password" formControlName="pass" matInput>
      <mat-error *ngIf="info.controls.pass.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="info.controls.pass.errors?.wrong">Incorrect password</mat-error>
    </mat-form-field>
    <mat-error *ngIf="info.errors?.unknown">An error occurred</mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions gdColumns.gt-sm="1fr 1fr" gdAreas.lt-md="sign-in | cancel" gdGap.lt-md="0.8rem">
  <button mat-stroked-button gdArea.lt-md="cancel" [mat-dialog-close]="null">
    <span>Cancel</span>
  </button>
  <button mat-raised-button [disabled]="!info.valid" color="primary" gdArea.lt-md="sign-in" [ngStyle.lt-md]="{ 'margin': 0, 'padding': 0 }"
          type="submit" (click)="signIn()">
    <span>Sign in</span>
  </button>
</mat-dialog-actions>
