<h2 mat-dialog-title>Choose sign in method</h2>
<mat-dialog-content class="dialogue" gdRows="1fr 1fr">
  <button mat-raised-button color="primary" matTooltip="Create an anonymous account" matTooltipPosition="right" matTooltipShowDelay="800" [mat-dialog-close]="'signInAnonymously'">
    <span>Sign in anonymously</span>
  </button>
  <button mat-raised-button color="primary" matTooltip="Sign in using your existing Albatross account" matTooltipPosition="right" matTooltipShowDelay="800" [mat-dialog-close]="'signInWithEmail'">
    <span>Use your email</span>
  </button>
  <button mat-raised-button color="primary" matTooltip="Sign in using your Google account" matTooltipPosition="right" matTooltipShowDelay="800" class="sign-in-with-google" [mat-dialog-close]="'signInWithGoogle'">
    <span class="logo"></span>
    <span class="label">Sign in with Google</span>
  </button>
  <button mat-raised-button color="primary" matTooltip="Sign in using your Facebook account" matTooltipPosition="right" matTooltipShowDelay="800" [mat-dialog-close]="'signInWithFacebook'">
    <span>Facebook</span>
  </button>
  <button mat-raised-button color="primary" matTooltip="Sign in using your Microsoft account" matTooltipPosition="right" matTooltipShowDelay="800" [mat-dialog-close]="'signInWithMicrosoft'">
    <span>Microsoft</span>
  </button>
  <button mat-raised-button color="primary" matTooltip="Sign in using your Github account" matTooltipPosition="right" matTooltipShowDelay="800" [mat-dialog-close]="'signInWithGithub'">
    <span>Github</span>
  </button>
</mat-dialog-content>
