//
// Style the Adventure Card
//
.mat-card.mat-focus-indicator.adventure-card {
  border-radius: 0;
  // Only show the shadows and transitions on huge screens
  // because otherwise the card is shown full width
  @media only screen and (min-width: $too-big-screen-min-width) {
    box-shadow: 0px 0px 16px 0px #ffffff;
    &:hover {
      box-shadow: 0px 0px 28px 0px #ffffff;
      transform: translate(-4px, -4px);
      transition: all 0.3s linear;
    }
    transition: all 0.3s linear;
  }

  mat-card-header {
    justify-content: space-between;
    align-items: center;

    // Align the card header text on the left
    .mat-card-header-text {
      margin: 0;
    }
  }
}
