//
// Style the Cart Item Card
//
$remove-button-transition: 0.5s ease-out;
.mat-card.mat-focus-indicator.cart-item {
  border-radius: 0;
  box-shadow: 0px 0px 16px 0px #ffffff;

  mat-card-header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

    mat-card-title.mat-card-title {
      margin: 0;
    }

    // Align the card header text on the left
    .mat-card-header-text {
      margin: 0;
    }

    // "Remove" button on larger devices
    .remove-button {
      border-radius: 0;

      // Make "Remove" label slide out on hover
      @media only screen and (min-width: 769px) {
        min-width: 0;
        width: 1rem;
        padding: 0;
        transition: padding $remove-button-transition, min-width $remove-button-transition, width $remove-button-transition;

        .remove-label {
          overflow: hidden;
          flex: 0;
          transition: flex $remove-button-transition;
        }

        &:hover {
          padding: 0rem 1rem;
          min-width: 4rem;
          width: auto;
          transition: padding $remove-button-transition, min-width $remove-button-transition, width $remove-button-transition;

          .remove-label {
            flex: 1;
            transition: flex $remove-button-transition;
          }
        }
      }

      // setting flex for the slide-out of its remove-label child
      .mat-button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    // "Remove button on extra-small devices
    .slim-remove-button {
      padding: 0;
      min-width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
