//
// Style the Preview Card
//
.mat-card.mat-focus-indicator.preview-card {
  border-radius: 0;
  box-shadow: 0px 0px 16px 0px #ffffff;

  mat-card-header {
    justify-content: space-between;
    align-items: center;

    // Align the card header text on the left
    .mat-card-header-text {
      margin: 0;
    }
  }
}
