//
// Width breakpoints defining the screen sizes according to Angular Flex-Layout
//
$xs-max-width: 599px;
$sm-min-width: 600px;
$sm-max-width: 959px;
$md-min-width: 960px;
$md-max-width: 1279px;
$lg-min-width: 1280px;
$lg-max-width: 1919px;
$xl-min-width: 1920px;
$xl-max-width: 5000px;

//
// Material Design breakpoints
//
$small-handset-max-width-portrait: 359px;
$medium-handset-min-width-portrait: 360px;
$medium-handset-max-width-portrait: 399px;
$large-handset-min-width-portrait: 400px;
$large-handset-max-width-portrait: 599px;
$small-tablet-max-width-portrait: 600px;
$small-tablet-max-width-portrait: 719px;
$large-tablet-min-width-portrait: 720px;
$large-tablet-max-width-portrait: 959px;

$small-handset-min-width-landscape: 480px;
$small-handset-max-width-landscape: 599px;
$medium-handset-min-width-landscape: 600px;
$medium-handset-max-width-landscape: 719px;
$large-handset-min-width-landscape: 720px;
$large-handset-max-width-landscape: 959px;
$small-tablet-min-width-landscape: 960px;
$small-tablet-max-width-landscape: 1023px;
$large-tablet-min-width-landscape: 1024px;
$large-tablet-max-width-landscape: 1439px;

$xsmall-window-min-width: 0px;
$xsmall-window-max-width: 599px;
$small-window-min-width: 600px;
$small-window-max-width: 1023px;
$medium-window-min-width: 1024px;
$medium-window-max-width: 1439px;
$large-window-min-width: 1440px;
$large-window-max-width: 1919px;
$xlarge-window-min-width: 1920px;

//
// The breakpoint to switch from full screen width to a limited width
//
$too-big-screen-min-width: $large-window-min-width;

//
// The breakpoint to adapt to a shorter vertical space
//
$too-short-screen-max-height: 499px;
