//
// App-wide body styles
//
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }

// Default font for Material Design
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

// Add a background image for the whole page
body {
  background: url(src/assets/images/construction.jpg) no-repeat center fixed;
  background-size: cover;
}
