//
// Style the scroll bars
//
::-webkit-scrollbar {
  width: 0.2rem;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 128, 212, 1.0);
}

::-webkit-scrollbar-thumb {
  background: deepskyblue;
  border-radius: 1px;
}
