//
// Style the toolbar itself
//
$toolbar-background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 60, 100, 0.4) 70%, rgba(0, 60, 100, 0.8));
.toolbar {
  background: $toolbar-background;           // AAAA also make this colour obtainable from the theme
  padding: 0;
}


//
// Background and hover effects
//
@mixin regular-toolbar-button-glow() {
  color: rgba(255, 255, 255, 1.0);
  text-shadow:
    0 0 10px rgba(255, 255, 255, 1.0),
    0 0 20px rgba(255, 255, 255, 0.9),
    0 0 24px rgba(255, 255, 255, 0.8);
}

@mixin regular-toolbar-button-hover() {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(255, 69, 0, 0.4) 94%, rgba(255, 69, 0, 0.9));    // AAAA also make this colour obtainable from the theme
  @include regular-toolbar-button-glow();
}

@mixin logo-button-background() {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(200, 200, 200, 0.4) 70%, rgba(200, 200, 200, 0.8));    // AAAA also make this colour obtainable from the theme
}

@mixin logo-button-glow() {
  text-shadow:
  0 0 10px rgba(255, 255, 255, 1.0),
  0 0 20px rgba(255, 255, 255, 0.9);
}

@mixin logo-button-hover() {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 94%, rgba(255, 255, 255, 0.9) 99%, rgba(255, 255, 255, 1.0));    // AAAA also make this colour obtainable from the theme
}

@mixin sign-in-button-background() {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(240, 100, 240, 0.4));    // AAAA also make this colour obtainable from the theme
}

@mixin sign-in-button-glow() {
  @include regular-toolbar-button-glow();   // Just use the same glow for the sign-in button
}

@mixin sign-in-button-hover() {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(255, 0, 255, 0.2) 94%, rgba(255, 0, 255, 0.9));    // AAAA also make this colour obtainable from the theme
}


//
// Common styling for all buttons on the toolbar
//
.toolbar .mat-button {
  border-radius: 0;   // 'mat-button' specifies a non-zero radius → cancel it
  padding: 0;

  // A pseudo-element needed for hover slide-out
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
  }

  &:hover::before {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  & span.mat-button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Buttons which are of general colour
.toolbar .mat-button.regular-toolbar-button {
  &::before {
    @include regular-toolbar-button-hover();
  }

  &:hover {
    @include regular-toolbar-button-glow();
  }
}

@mixin padded-toolbar-button-wrapper {
  padding: 0 1rem;
}


//
// Logo button
//
.albatross-logo {
  grid-area: logo;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba(240, 248, 255, 1);
  @include logo-button-background();

  &:hover {
    @include logo-button-glow();
    &::before {
      @include logo-button-hover();
    }
  }
}


//
// Navigation area buttons
//
.nav-button {
  width: 128px;
  height: 100%;
}


//
// Auth area buttons
//
// Sign In button
.sign-in-button {   // AAAA this has to be changed according to the official style
  @include sign-in-button-background();
  &:hover {   // AAAA this has to be changed according to the official style
    @include sign-in-button-glow();
    &::before {
      @include sign-in-button-hover();
    }
  }
}


//
// Secure area buttons
//
// Padding for the cart button
.cart-button span.mat-button-wrapper {
  @include padded-toolbar-button-wrapper();
}

// Padding for the profile button
.profile-button span.mat-button-wrapper {
  @include padded-toolbar-button-wrapper();
}


//
// Menu button
//
.toolbar .menu-button:hover {
  @include regular-toolbar-button-glow();
}
