// View button styling
.view-button {
  border-radius: 0;
  background-color: rgba(0, 160, 255, 0.8);
  color: rgba(250, 250, 250, 0.9);
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }

  @media only screen and (min-width: 769px) {
    width: 160px;
    height: 60px;
    font-size: 1.4rem;
  }

  transition: all 0.3s ease-in-out;

  &[disabled] {
    pointer-events: none;
    background-color: rgba(0, 140, 255, 0.4);
    color: rgba(255, 255, 255, 0.5);
  }

  &:hover {
    transform: translate(-0.20rem, -0.20rem);
    // Slide the button only horizontally on big screens,
    // as the card itself slides on hover as well
    @media only screen and (min-width: $too-big-screen-min-width) {
      transform: translate(-0.20rem);
    }
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 140, 255, 0.9);
    color: rgba(255, 255, 255, 1.0);
  }
}
