<h2 mat-dialog-title>Welcome to Albatross Travel</h2>
<mat-dialog-content>
  <p>Feel free to explore the features of this site while we are under renovation!</p>
  <p>
    A few things to keep in mind:
  </p>
  <ul>
    <li>The colour themes and UX are temporary in certain places</li>
    <li>You may see unexpected out–of–tone colours at places or thermal insulation sticking out</li>
    <li>Image loading experience has not been optimized</li>
    <li>Certain cool modern features are not visible via direct interaction
        (<em>e.g.</em>&nbsp;<span class="emph">Route Guards</span>, <span class="emph">Cloud Functions</span>, <span class="emph">Rules</span>)</li>
    <li>Always wear a helmet</li>
  </ul>

    <p>
      This app is exploiting these awesome modern tools and concepts:
    </p>
    <ul>
     <li><span class="emph">Angular</span> is the most comprehensive, consistent and modular framework for developing apps</li>
     <li><span class="emph">Flex-Layout</span> provides an easy and efficient use of CSS Grid all throughout the app</li>
     <li><span class="emph">Differential Loading</span> chooses and serves the most efficient bundle to the client's browser</li>
     <li><span class="emph">Routing</span> with <span class="emph">Guards</span> prevents attempting to render a user–area page in an unauthenticated state</li>
     <li><span class="emph">Lazy Loading</span> postpones loading page resources on start up all at once</li>
     <li><span class="emph">Material Design</span> with a styling touch, gives the app a modern look and feel</li>
     <li><span class="emph">Firestore</span> works as a noSQL database, enabling instant update of information on all devices via <span class="emph">Observables</span></li>
     <li><span class="emph">Firestore Rules</span> ensure proper authorized access, independently of the Route Guards</li>
     <li><span class="emph">Firebase Auth</span> is an independent microservice which handles user authentication solely</li>
     <li><span class="emph">Federated Identity Provider-based login</span> gives the user the flexibility and peace of mind when using the authentication process</li>
     <li><span class="emph">Firebase Hosting</span> provides easy CI/CD integration</li>
     <li><span class="emph">Firebase Storage</span> provides a dedicated microservice to host larger objects (images)</li>
     <li><span class="emph">Cloud Functions</span>: work to provide <em>denormalized</em> data structures for instant render</li>
     <li><span class="emph">Cloud Functions</span>: the power of Typescript enforces error–proof data handling at the level
        hard–to–non-achievable with conventional SQL frameworks</li>
     <li><span class="emph">Cloud Functions</span>: interfaces (data types) are shared between the Front End and the Back End</li>
     <li><span class="emph">Progressive Web App</span> brings the user experience to another level by enabling them to install the app</li>
    </ul>

    <p>
      Explore the app:
    </p>
    <ul>
      <li>login anonymously, or</li>
      <li>create an account using a mock email address, or</li>
      <li>login with your favourite federated provider (Google, Microsoft <em>etc</em>)</li>
      <li>browse the selection of packages</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="null">
    OK
  </button>
</mat-dialog-actions>
